body {
    background: #fff; 
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background: #90f0d2; 
    text-align: right;
    padding: 6px 15px 6px 0;
    font-weight: normal;
    font-size: 0.9em;
    letter-spacing: 0;
    border-bottom: 3px solid #00c196; 
}

nav a {
    color: #000;
    text-decoration: none;
    margin-left: 15px;
}

header {
    background: #fff900; 
    color: #000; 
    text-align: center;
    padding: 12px 0 6px 0;
    font-weight: bold;
    font-size: 1.4em;
    letter-spacing: 1px;
    margin: 0;
}


main h1 {
    background: #fa906b; 
    color: #000; 
    text-align: center;
    margin: 0;
    font-size: 2.9em;
    padding: 35px 0 20px 0;
    font-family: Arial, sans-serif;
    font-weight: bold;
    border-bottom: none;
    grid-column: 1 / -1;
}

main h2 {
    background: #fa906b; 
    color: #000; 
    text-align: center;
    font-size: 1.35em;
    font-weight: bold;
    margin: 0;
    padding: 24px 0 22px 0;
    border-bottom: none;
    border-top: none;
    grid-column: 1 / -1;
}




main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    background: #fa906b; 
    padding: 0 5px 0 5px; 
    border-bottom: none;
    grid-column: 1 / -1;
}

main article {
    background: #c3fc68; 
    border: none;
    border-radius: 0;
    padding: 20px; 
    color: #000;
    font-size: 1em;
    min-height: 170px;
    box-sizing: border-box;
    margin: 0;
}

main article h2 {
    color: #000;
    font-size: 1.4em;
    margin: 0 0 10px 0;
    padding: 0;
    text-align: left;
    background: #c3fc68; 
}

footer {
    background: #a173e6;
    color: #fff;
    text-align: right;
    font-size: 0.9em;
    padding: 10px 28px 8px 0;
    border-radius: 0;
    margin-top: 0; 
}

@media (max-width: 900px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
    main h1, main h2 {
        grid-column: 1 / -1;
    }
}
@media (max-width: 600px) {
    main {
        grid-template-columns: 1fr;
    }

    main h1, main h2, main article {
        grid-column: 1 / -1;
    }
}